@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.general-container{
  margin-top: 50px;
}
.coordinate-input{
  width: 100px;
  text-align: center;
}
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.my-message-content{
  margin:0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}
.other-message-content{
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}

.my-message-div{
  word-wrap: break-word;
  background-color: #006AFF;
  padding: 10px 15px;
  max-width: 50%;
  height: auto;
  margin: 10px;
  border-radius: 20px;
  position: relative;
}

.other-message-div{
  word-wrap: break-word;
  background-color: #D4D8E8;
  padding: 10px 15px;
  max-width: 50%;
  height: auto;
  margin: 10px;
  border-radius: 20px;
  position: relative;
}

.chat-page{
  width: 100%;
  display: flex;
  justify-content: center;
}
.chat-box{
  max-width: 375px;
  min-width: 350px;
  border: 1px solid #D4D8E8;
}
.chat-page h2{
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
}
.chat-display-box{

  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.my-message-div-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.other-message-div-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.my-message-date{
  position: absolute;
  right: 0px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;

}
.other-message-date{
  position: absolute;
  left: 0px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
}

.message-box{
  width: 100%;
  display: flex;
  border-top: 1px solid #D4D8E8;

}

.message-box textarea{
  margin: 0;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  resize: none;
}

.message-box button{
  margin: 0;
  border: none;
}

.chat-card{
  margin: 0;
  border: none;
  
  border-top: 1px solid rgba(65, 63, 63, 0.582);
  box-shadow: none;
  height: 100px;
  position: relative;
  background-color: transparent !important;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly !important;
  align-items: center;
}

.chat-card:hover{

  transform: scale(1.025);
  cursor: pointer;
  background-color: rgba(160, 160, 160, 0.096) !important;
}
.chat-name{
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
}

.chat-img{
  position: absolute;
  left: 25px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  object-fit: fill;
  box-shadow: 1px 1px 3px black;
}

.page-title{
  font-family: 'Inter', sans-serif;
}

.chat-message-preview{
  width: 100%;
  display: flex;
}

.chat-message-time{
  position: absolute;
  right: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
